on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build and release
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --target x86_64-pc-windows-msvc

      - name: Compress
        run: tar -cgf x86_64-pc-windows-msvc.tar.gz -C ./target/x86_64-pc-windows-msvc/release/metro_ticket.exe

      - name: Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          files: |
            ./x86_64-pc-windows-msvc.tar.gz
